<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <div>
      <% if (message) { %>
        <p><%= message %></p>
      <% } %>
    </div>
    <div class="another-userdata-spacing-container">
      <div class="userdata-spacing">
        <div class="userdata-container">
          <table border="1" cellpadding="5" cellspacing="5">
            <tr>
              <th>UID</th>
              <td><%= user.uid %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= user.username %></td>
            </tr>
            <tr>
              <th>Creation</th>
              <td><%= user.createdAt %></td>
            </tr>
            <% if (user.createdAt !== user.editedAt) { %>
            <tr>
              <th>Edited</th>
              <td><%= user.editedAt %></td>
            </tr>
            <% } %>
          </table>
        </div>
        <br />
        <form method="post" action="/auth/logout">
          <input type="submit" value="Log Out" class="submit-button" />
        </form>
        <form method="get" action="/auth/update">
          <input
            type="submit"
            value="Update Password"
            class="submit-button-large"
          />
        </form>
      </div>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
